; EditorConfig for tml
;
; See https://editorconfig.org for further information.
;

root = true

[*]
indent_style = space
tab_width = 2
end_of_line = lf
max_line_length = 80
insert_final_newline = true

